!!! 5
%html
  %head
    %title= title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'keywords', content: 'social, coalition, writers, bloggers'}
    %meta{name: 'description', content: 'Social coalitions for online writers'}
    %link{href: 'https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://www.yegor256.com/css/icons.css', rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: url('/logo-64.png')}
    %script{src: 'https://code.jquery.com/jquery-3.3.1.min.js'}
    :css
      .item { margin-right: 1em; }
      .logo { width: 64px; height: 64px; }
      .small { font-size: .8em; line-height: 1.4em; }
      .gray { color: gray; }
      .red { background-color: #A22522; color: white; padding-left: .3em; padding-right: .3em; border-radius: 2px; }
      .green { color: green; }
      .cross { text-decoration: line-through; color: gray; }
      .hidden { display: none; }
      textarea { font-family: monospace; }
      .thumb { width: 30%; text-align: center; display: inline-block; }
      @media all and (max-width: 768px) {
        .thumb { width: 100%; }
      }
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a{href: url('/')}
                %img.logo{src: url('/logo.svg')}
        %nav
          %ul
            - if session[:author]
              %li
                %a{href: '/'}
                  = "@#{session[:author]}"
              %li
                %a{href: url('/share')}
                  Share
              %li
                %a{href: '/logout'}
                  Logout
            - else
              %li
                %a{href: '/login'}
                  Login
        - if defined? flash_msg
          %p{style: 'background-color:darkgreen;color:white;padding:.1em .5em;border-radius:4px;width:100%;'}
            = flash_msg
      %article
        = yield
      %footer.small.gray
        %nav
          %ul
            %li
              &copy; 2018 Soalition
        %nav
          %ul
            %li
              = "v#{ver}"
            %li
              %a{href: 'https://iplocation.com/?ip=' + request_ip}
                = request_ip
        %nav
          %ul
            %li
              Icon by
              %a{href: 'https://www.freepik.com/free-vector/sign-language-collectio_819451.htm'} Freepik
