%p
  %a{href: '/create'} Create a New Soalition

%p
  You can share your content in these soalitions:

- soalitions.mine.each do |s|
  %div.thumb
    %a{href: "/soalition?id=#{s.id}"}
      %img{src: s.icon, style: 'height: 92px;'}
    %br
    %a{href: "/soalition?id=#{s.id}"}
      &= s.name
    %br
    &= s.description
    %br
    Score:
    - score = s.score(author.login)
    %strong{class: (score.negative? ? 'red' : 'green')}= score
