%p
  %img{src: soalition.icon, style: 'height:92px;'}

%h2
  &= soalition.name

%p
  &= soalition.description

- score = soalition.score(author.login)
%p
  Your score:
  %strong{class: (score.negative? ? 'red' : 'green')}= sprintf('%+d', score)

- if score.negative?
  %p
    = succeed ':' do
      %span.red Attention
    You can't make any more posts, because your score is negative.
    Try to repost the posts listed below, each repost will add +1
    to your score.

%p
  Invite your friends:
  %a{href: "/join?id=#{soalition.id}"}<
    = "https://www.soalition.com/join?id=#{soalition.id}"

- if score.positive? || score.zero?
  %form{method: 'POST', action: '/do-share'}
    %fieldset
      %input{type: 'hidden', name: 'id', id: 'id', value: soalition.id}
      %label URL of the blog post:
      %input{type: 'url', name: 'uri', id: 'uri', autofocus: 'true', size: 50, required: 'true', autocomplete: 'off'}
      %label.small.gray
        Make sure the content you share is publicly accessible
        by everyone in this soalition and is relevant to its main topic.
        The most popular content is: blog posts, Tweets, Facebook posts,
        and YouTube videos.
      %input{type: 'submit', value: 'Share'}

%p
  - members = soalition.members
  = members.count
  member(s):
  - members.each_with_index do |m, i|
    - if i > 0
      &= ', '
    %a{href: "https://twitter.com/#{m[:login]}"}<
      &= "@#{m[:login]}"
    %span{class: m[:score].negative? ? 'red' : 'green'}
      = "(#{sprintf('%+d', m[:score])})"

- soalition.posts.each do |p|
  %p{class: p.approved? ? '' : 'gray', style: 'margin-bottom:0'}
    By
    %a{href: "https://twitter.com/#{p.author}"}= "@#{p.author}"
    %a{href: p.uri}<
      &= p.uri
    - if p.approved?
      - if p.author != author.login
        %a{href: "/repost?id=#{p.id}"} Repost
    - else
      = "(not approved yet)"
  %ul
    - p.reposts.fetch.each do |r|
      %li{style: (r['approved'] == 't' ? '' : 'gray')}
        = succeed ':' do
          %a{href: "https://twitter.com/#{r['author']}"}= "@#{r['author']}"
        - uri = URI(r['uri'])
        %a{href: uri}<
          &= uri.host
          - if uri.path.length > 32
            = '/...'
            &= uri.path[-32..-1]
          - else
            = uri.path
        - if r['approved'] == 'f'
          = "(pending)"

%p
  %a.red{href: "/quit?id=#{soalition.id}", onclick: "return confirm('Are you sure?');"} Quit
